<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
    <img src="static\logo.png">
    <h1>Register</h1>
    {% if alert_message %}
    <script>
        alert("{{ alert_message }}");
    </script>
    {% endif %}
    <form method="POST" action="{{ url_for('register') }}">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
        <br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
        <br>
        <a href="{{ url_for('login') }}">
            <button id="button" type="button">Back</button>
        </a>
        <button id="button" type="submit">Register</button>
    </form>
</body>
</html>
